<div class="container">
    <div class="row">        
        <div class="col-md-12 p-0">
            <img src="https://i.imgur.com/4zMPLOa.png" class="img-fluid tam" alt="Responsive image">            
        </div>        
    </div>
</div> 
<!-- Linha de perfil e contato-->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="https://i.imgur.com/DoDoaId.jpg" class="img-fluid rounded-circle" alt="Responsive image">
        </div>
        <div class="col-md-8 d-flex justify-content-center mt-5">
            <h2>Samuel Firmino Tavares dos Santos 
            <p class="tam-display">Engenheiro de software</p>
            
            <p class="row-1">Github: <a href="https://github.com/samfir31" target="_blank">https://github.com/samfir31</a></p>
            <p class="row-1">Linkedin: <a href="https://www.linkedin.com/in/samuel-firmino/" target="_blank">https://www.linkedin.com/in/samuel-firmino/</a></p>
            <p class="row-1">Email: samfir31@gmail.com</p>
            <p class="row-1">Celular: (11) 95362-5399</p>
        </h2>            
        </div> 
    </div>
    <!-- Fim linha de perfil e contato-->     
    <div class="row">
        <!-- Coluna da esquerda-->
        <div class="col-md-6 mt-3 fonte ">
            <div class="card shadow" style="width: w-100;">
                <div class="card-body">
                    <h5 class="card-title d d-flex justify-content-center">Sobre mim</h5>
                    <p class="card-text"> Sou apaixonado por tecnologia e por fazer a diferença nos lugares onde trabalho. Sou uma pessoa objetiva que adora discutir ideias, desafios, aprender novidades e refletir sobre momentos vividos. Meu alicerce pessoal é a minha família onde encontro um ambiente seguro para compartilhar minhas emoções. Acredito que ser desenvolvedor é mais que criar soluções, é transformar a maneira que pensamos e vivemos.                     
                    </p>
                  <h5 class="card-title d d-flex justify-content-center">Educação</h5>
                  
                  <h6 class="card-subtitle mb-2 text-muted">Pontifícia Universidade Católica de Minas Gerais</h6>
                  <p class="card-text">Engenharia de Software - pós graduação 
                    Outubro/2020 - Dezembro/2021 
                </p>
                <h6 class="card-subtitle mb-2 text-muted">GENERATION BRASIL</h6>
                  <p class="card-text">Desenvolvedor Web Java Junior – Fullstack 
                    Julho/2020 - Outubro/2020                     
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Universidade cidade de São Paulo</h6>
                  <p class="card-text">Análise e desenvolvimento de sistemas - graduação
                    Junho/2018 - Junho/2020                                        
                </p>
                <h6 class="card-subtitle mb-2 text-muted">Escola técnica estadual</h6>
                  <p class="card-text">Ensino técnico de informatica integrado ao médio
                    Janeiro/2015 - Dezembro/2017                     
                </p>
                <h5 class="card-title d d-flex justify-content-center">Experiência profissional</h5>
                  
                  <h6 class="card-subtitle mb-2 text-muted">Itaú Unibanco</h6>
                  <p class="card-text">Analista de Engenharia de Ti Jr.
                    <h6 class="card-subtitle mb-2 text-muted">Stefanini</h6>
                    <p class="card-text">Analista de suporte Jr.   
                    <p class="card-text">Estagiario  
                </div>
              </div>
        </div>
        <!-- Fim coluna da esquerda-->
        <!-- Coluna da direita-->
        <div class="col-md-6 mt-3 fonte ">
            <div class="card shadow" style="width: w-100;">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Habilidades técnicas</h5>
                    <p class="text-justify texto m-0">
                        Lógica de Programação   
                    </p> 
                    <p class="text-justify texto m-0">
                        Banco de Dados
                    </p> 
                    <p class="text-justify texto m-0">
                        
                    </p>
                    <p class="text-justify texto m-0">
                        Java
                    </p> 
                    <p class="text-justify texto m-0">
                        Spring Framework
                    </p>
                    <p class="text-justify texto m-0">
                        Spring Security
                    </p>                    
                    <p class="text-justify texto m-0">
                        Docker
                    </p>
                    <p class="text-justify texto m-0">
                        Scrum
                    </p>
                    <p class="text-justify texto m-0">
                        Angular
                    </p> 
                    <p class="text-justify texto m-0">
                        HTML5
                    </p> 
                    <p class="text-justify texto m-0">
                        JavaScript
                    </p> 
                    <p class="text-justify texto m-0">
                        TypeScript
                    </p>    
                    <p class="text-justify texto m-0">
                        CSS
                    </p>                        

                  <h5 class="card-title d-flex justify-content-center">Habilidades interpessoais</h5>                  
                  <p class="card-text m-0"> 
                    Proatividade
                    </p>
                    <p class="card-text m-0"> 
                    Atenção à Detalhes 
                    </p>
                    <p class="card-text m-0"> 
                    Trabalho em Equipe
                    </p>
                    <p class="card-text m-0">
                    Gerenciamento de tempo 
                    </p>
                    <h5 class="card-title d-flex justify-content-center">Portifólio</h5>
                  
                  <h6 class="card-subtitle mb-2 text-muted"><a href="https://github.com/samfir31/PlanteUmaArvore  " target="_blank">Plante uma árvore</a></h6>                  
                    <p class="card-text">Projeto (em criação) de uma rede social 
                        com o objetivo de reflorestar o mudo e 
                        assim diminuir os problemas ambientais 
                        causados pelo desmatamento.                                             
                    </p>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="https://github.com/samfir31/Projeto_Cubikz " target="_blank">Cubikz</a></h6>                     
                    <p class="card-text">Projeto com o objetivo de criar soluções para empresas de logística, apresentando de maneira prática algumas funcionalidades como a organização de cargas em determinado tipo de veículo.                                             
                    </p>
                    <h5 class="card-title d d-flex justify-content-center">Idiomas</h5>                  
                  
                  <p class="card-text m-0">Português - Nativo</p>
                  <p class="card-text m-0">Inglês - Intermediário</p>
                  <p class="card-text m-0">Espanhol - Básico</p>
                </div>
              </div>
        </div>
        <!-- Fim coluna da direita-->
    </div>
</div>
